# --- ТОКЕН ТЕЛЕГРАМ БОТА ---
# Получить у @BotFather в Telegram
token=your_bot_token

# --- СЕКРЕТНЫЙ ПАРОЛЬ ---
# Пароль для доступа к скрытым настройкам/админке бота.
password=your_secure_password_here

# --- ТЕЛЕГРАМ ЧАТ ID ---
# ID чата, куда бот будет слать медиа, для сохранения кэша изображений. 
# Кэш присылается первый раз при запуске бота. 
chat_id=your_chat_id