# Виртуальное окружение
.venv/

# Переменные окружения
.env
!.env.example

# IDE и настройки редактора
.vscode/

# Логи
*.log

# Кэш
__pycache__/
.telecache.json

# Локальные файлы 
Data/Users/*

Resources/Media/*
!Resources/Media/.gitkeep

Resources/Modes/*
!Resources/Modes/.gitkeep